In [85]:
import numpy as np 
import pandas as pd 
import scipy as sc 
import sklearn as sk 
import matplotlib as plot

In [86]:
team_map = {"ATL" : "Atlanta Hawks", "BKN" : "Brooklyn Nets", "BOS": "Boston Celtics", "CHA" : "Charlotte Hornets", "CHI" : "Chicago Bulls", "CLE" : "Cleveland Cavaliers", "DAL" : "Dallas Mavericks", "DEN" : "Denver Nuggets", "DET" : "Detroit Pistons", "GSW" : "Golden State Warriors", "HOU" : "Houston Rockets", "IND" : "Indiana Pacers", "LAC" : "Los Angeles Clippers", "LAL" : "Los Angeles Lakers", "MEM" : "Memphis Grizzlies", "MIA" : "Miami Heat", "MIL" : "Milwaukee Bucks", "MIN" : "Minnesota Timberwolves","NOP" : "New Orleans Pelicans", "NYK" : "New York Knicks", "OKC" : "Oklahoma City Thunder", "ORL" : "Orlando Magic", "PHI" : "Philadelphia 76ers", "PHX" : "Phoenix Suns", "POR" : "Portland Trail Blazers", "SAC" : "Sacramento Kings", "SAS" : "San Antonio Spurs", "TOR" : "Toronto Raptors", "UTA" : "Utah Jazz", "WAS" : "Washington Wizards"}

df_team = pd.read_csv('../data/teams_stats/2019-20_nba_teams.csv')
df_player = pd.read_csv('../data/player_stats/2019-20_nba_players_new.csv')

In [87]:
df_team.head()

,Rk,Team,G,MP,FG,FGA,FG%,3P,3PA,3P%,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,PTSA
0,1.0,Dallas Mavericks*,75,18175,3124,6772,0.461,1136,3095,0.367,...,791,2729,3520,1849,460,363,953,1462,8776,8405
1,2.0,Milwaukee Bucks*,73,17595,3160,6638,0.476,1007,2840,0.355,...,691,3083,3774,1889,526,429,1102,1431,8663,7927
2,3.0,Portland Trail Blazers*,74,17835,3122,6749,0.463,952,2525,0.377,...,754,2599,3353,1525,465,451,946,1606,8508,8593
3,4.0,Houston Rockets*,72,17380,2936,6512,0.451,1126,3261,0.345,...,704,2484,3188,1557,627,371,1057,1566,8482,8269
4,5.0,Los Angeles Clippers*,72,17380,2992,6425,0.466,895,2410,0.371,...,767,2664,3431,1708,511,338,1051,1594,8377,7913

In [88]:
df_player.head()

,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,1,Steven Adams/adamsst01,C,26,OKC,63,63,1680,283,478,...,0.582,207,376,583,146,51,67,94,122,684
1,2,Bam Adebayo/adebaba01,PF,22,MIA,72,72,2417,440,790,...,0.691,176,559,735,368,82,93,204,182,1146
2,3,LaMarcus Aldridge/aldrila01,C,34,SAS,53,53,1754,391,793,...,0.827,103,289,392,129,36,87,74,128,1001
3,4,Kyle Alexander/alexaky01,C,23,MIA,2,0,13,1,2,...,NaN,2,1,3,0,0,0,1,1,2
4,5,Nickeil Alexander-Walker/alexani01,SG,21,NOP,47,1,591,98,266,...,0.676,9,75,84,89,17,8,54,57,267

In [89]:
def stripAsterisk(s):
    if s[-1] == '*':
        return s[0:-1]
    else:
        return s

df_team['Team'] = df_team['Team'].apply(stripAsterisk)
df_team = df_team.dropna()
df_team.head()

,Rk,Team,G,MP,FG,FGA,FG%,3P,3PA,3P%,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,PTSA
0,1.0,Dallas Mavericks,75,18175,3124,6772,0.461,1136,3095,0.367,...,791,2729,3520,1849,460,363,953,1462,8776,8405
1,2.0,Milwaukee Bucks,73,17595,3160,6638,0.476,1007,2840,0.355,...,691,3083,3774,1889,526,429,1102,1431,8663,7927
2,3.0,Portland Trail Blazers,74,17835,3122,6749,0.463,952,2525,0.377,...,754,2599,3353,1525,465,451,946,1606,8508,8593
3,4.0,Houston Rockets,72,17380,2936,6512,0.451,1126,3261,0.345,...,704,2484,3188,1557,627,371,1057,1566,8482,8269
4,5.0,Los Angeles Clippers,72,17380,2992,6425,0.466,895,2410,0.371,...,767,2664,3431,1708,511,338,1051,1594,8377,7913

In [90]:
def nameOnly(s):
    new_s = s.split('/')
    return new_s[0]

df_player['Player'] = df_player['Player'].apply(nameOnly)
df_player = df_player.dropna()
df_player.head()

,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,1,Steven Adams,C,26,OKC,63,63,1680,283,478,...,0.582,207,376,583,146,51,67,94,122,684
1,2,Bam Adebayo,PF,22,MIA,72,72,2417,440,790,...,0.691,176,559,735,368,82,93,204,182,1146
2,3,LaMarcus Aldridge,C,34,SAS,53,53,1754,391,793,...,0.827,103,289,392,129,36,87,74,128,1001
4,5,Nickeil Alexander-Walker,SG,21,NOP,47,1,591,98,266,...,0.676,9,75,84,89,17,8,54,57,267
5,6,Grayson Allen,SG,24,MEM,38,0,718,117,251,...,0.867,8,77,85,52,10,2,33,53,330

In [91]:
def assignORtg(row):
    FGA = row['FGA']
    ORB = row['ORB']
    TOV = row['TOV']
    FTA = row['FTA']

    TotalP = FGA - ORB + TOV + (0.4 * FTA)

    PTS = row['PTS']

    return (PTS/TotalP) * 100

def assignDRtg(row):
    FGA = row['FGA']
    ORB = row['ORB']
    TOV = row['TOV']
    FTA = row['FTA']

    TotalP = FGA - ORB + TOV + (0.4 * FTA)

    PTSA = row['PTSA']

    return (PTSA/TotalP) * 100

def assignNRtg(row):
    return row['ORTG'] - row['DRTG']


df_team['ORTG'] = df_team.apply(assignORtg, axis=1)
df_team['DRTG'] = df_team.apply(assignDRtg, axis=1)
df_team['NRTG'] = df_team.apply(assignNRtg, axis=1)
df_team.sort_values(by=['NRTG'])

,Rk,Team,G,MP,FG,FGA,FG%,3P,3PA,3P%,...,AST,STL,BLK,TOV,PF,PTS,PTSA,ORTG,DRTG,NRTG
28,29.0,Golden State Warriors,65,15725,2510,5730,0.438,678,2032,0.334,...,1663,534,299,969,1304,6912,7478,103.839913,112.343008,-8.503095
26,27.0,Cleveland Cavaliers,65,15725,2619,5715,0.458,727,2070,0.351,...,1500,447,211,1073,1188,6948,7461,105.234460,113.004362,-7.769902
22,23.0,Atlanta Hawks,67,16280,2723,6067,0.449,805,2416,0.333,...,1605,523,341,1086,1548,7488,8022,105.192178,112.693864,-7.501686
29,30.0,Charlotte Hornets,65,15750,2425,5586,0.434,785,2231,0.352,...,1549,428,268,949,1223,6687,7126,104.772499,111.650790,-6.878290
25,26.0,New York Knicks,66,15965,2638,5896,0.447,631,1872,0.337,...,1456,504,313,946,1464,6983,7409,104.739763,111.129444,-6.389681
7,8.0,Washington Wizards,72,17355,2990,6544,0.457,864,2345,0.368,...,1801,574,309,1020,1634,8238,8574,109.257294,113.713528,-4.456233
23,24.0,Minnesota Timberwolves,64,15560,2586,5865,0.441,853,2540,0.336,...,1525,555,362,981,1370,7248,7523,106.266311,110.298214,-4.031903
24,25.0,Detroit Pistons,66,15965,2595,5658,0.459,791,2157,0.367,...,1589,490,299,1008,1299,7078,7313,107.041316,110.595245,-3.553929
27,28.0,Chicago Bulls,65,15675,2573,5762,0.447,793,2282,0.348,...,1510,652,265,1005,1417,6945,7145,104.912535,107.933774,-3.021239
20,21.0,Sacramento Kings,72,17455,2943,6364,0.462,914,2511,0.364,...,1713,556,293,1043,1595,7927,8074,108.624753,110.639114,-2.014361
5,6.0,New Orleans Pelicans,72,17430,3065,6598,0.465,982,2656,0.370,...,1932,539,358,1181,1524,8341,8434,108.935848,110.150454,-1.214607
2,3.0,Portland Trail Blazers,74,17835,3122,6749,0.463,952,2525,0.377,...,1525,465,451,946,1606,8508,8593,112.038768,113.158103,-1.119334
13,14.0,San Antonio Spurs,71,17215,2995,6350,0.472,760,2021,0.376,...,1751,518,390,895,1377,8098,8177,111.380079,112.466646,-1.086568
8,9.0,Memphis Grizzlies,73,17570,3106,6634,0.468,798,2297,0.347,...,1965,576,398,1113,1546,8222,8300,107.778623,108.801091,-1.022468
21,22.0,Orlando Magic,73,17570,2871,6468,0.444,807,2354,0.343,...,1747,599,396,937,1336,7831,7905,107.033514,108.044940,-1.011426
16,17.0,Brooklyn Nets,72,17480,2908,6498,0.448,941,2746,0.343,...,1761,464,323,1099,1510,8048,8089,106.967224,107.512161,-0.544937
6,7.0,Phoenix Suns,73,17595,3006,6429,0.468,831,2320,0.358,...,1987,559,290,1077,1609,8294,8278,110.734312,110.520694,0.213618
18,19.0,Indiana Pacers,73,17620,3075,6457,0.476,743,2046,0.363,...,1888,543,376,967,1445,7989,7846,108.764908,106.818058,1.946850
19,20.0,Oklahoma City Thunder,72,17430,2879,6156,0.468,770,2171,0.355,...,1562,550,353,986,1390,7950,7807,109.446846,107.478179,1.968667
11,12.0,Denver Nuggets,73,17745,3069,6488,0.473,801,2234,0.359,...,1952,586,337,1005,1485,8124,7970,111.023041,108.918468,2.104573
14,15.0,Philadelphia 76ers,73,17595,3000,6417,0.468,848,2307,0.368,...,1884,586,389,1037,1529,8084,7910,110.058269,107.689375,2.368894
17,18.0,Utah Jazz,72,17355,2886,6130,0.471,963,2537,0.380,...,1615,438,292,1089,1468,8013,7835,110.992603,108.527024,2.465579
3,4.0,Houston Rockets,72,17380,2936,6512,0.451,1126,3261,0.345,...,1557,627,371,1057,1566,8482,8269,111.379573,108.582609,2.796964
10,11.0,Miami Heat,73,17745,2880,6160,0.468,979,2584,0.379,...,1892,547,332,1088,1501,8179,7964,111.067355,108.147746,2.919609
0,1.0,Dallas Mavericks,75,18175,3124,6772,0.461,1136,3095,0.367,...,1849,460,363,953,1462,8776,8405,114.736952,109.886518,4.850434
15,16.0,Los Angeles Lakers,71,17090,3006,6269,0.480,782,2242,0.349,...,1803,612,468,1077,1471,8054,7643,110.628829,104.983380,5.645449
12,13.0,Toronto Raptors,72,17380,2897,6331,0.458,995,2663,0.374,...,1816,636,358,1067,1559,8118,7669,109.985097,103.901910,6.083187
9,10.0,Boston Celtics,72,17430,2971,6448,0.461,905,2487,0.364,...,1655,595,406,995,1553,8183,7729,111.451609,105.268176,6.183433
4,5.0,Los Angeles Clippers,72,17380,2992,6425,0.466,895,2410,0.371,...,1708,511,338,1051,1594,8377,7913,112.192966,105.978625,6.214341
1,2.0,Milwaukee Bucks,73,17595,3160,6638,0.476,1007,2840,0.355,...,1889,526,429,1102,1431,8663,7927,111.507272,102.033724,9.473549